<!DOCTYPE html>
<html>
<head>
	<title>Welcome <% %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<style>
		.header1{
			text-align: center;
		}
		.mypost{
			width: 550px;
			padding-left: 20px;
			float: left;
		}
		.myorder{
			width: 600px;
			padding-left: 80px;
			float: left;
		}
	</style>
</head>
<body>
	<br>
	<div class="header1">
		<a href="/home">Home</a> |
		<a href="/user/addbook">Add Post</a> |
		<a href="/user/donatebook">Donate Book</a> |
		<a href="/user/mydonate">My Donated Books</a> |
		<a href="/user/profile">My Profile</a> |
		<a href="/logout">Logout</a>
	</div>
<br>
	<div class="mypost">
		<h2 style="text-align: center;">My Post</h2>
		<table border="1" class="table table-striped"> 
			<tr>
				<th>Book ID</th>
				<th>Book Name</th>
				<th>Author Name</th>
				<th>Category No</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
			<% for(var i=0; i< book.length; i++){ %>
				<tr>
					<td><%= book[i].id %></td>
					<td><%= book[i].bname %></td>
					<td><%= book[i].aname %></td>
					<td><%= book[i].category %></td>
					<td><%= book[i].price %></td>
					<td><a href="/user/edit/<%= book[i].id %>">Modify</a></td>
				</tr>
			<% } %>
		</table>
	</div>
	<div class="myorder">
			<h2 style="text-align: center;">My Order</h2>
			<table border="1" class="table table-striped">
					<th>Order ID</th>
					<th>Book Name</th>
					<th>Author Name</th>
					<th>Category</th>
					<th>Price</th>
					<th>Seller Email</th>
				</tr>
				<% for(var i=0; i< order.length; i++){ %>
					<tr>
						<td><%= order[i].id %></td>
						<td><%= order[i].bname %></td>
						<td><%= order[i].aname %></td>
						<td><%= order[i].category %></td>
						<td><%= order[i].price %></td>
						<td><%= order[i].semail %></td>
					</tr>
				<% } %>
			</table>
		</div>
</body>
</html>