<!DOCTYPE html>
<html>
<head>
	<title>userlist</title>
</head>
<body>
	<h1>Details </h1>

	<a href="/user/userlist">Back</a> |
	<a href="/logout">logout</a>

<br><br>

<table border="1">
		<tr>
			<td>ID</td>
			<td>Employe Name</td>
			<td>Company Name</td>
			<td>Contact No</td>
			<td>USERNAME</td>
			<td>PASSWORD</td>
			<td>ACTION</td>
		</tr>

	<% for(var i=0; i< user.length; i++){ %>
		<tr>
			<td><%= user[i].id %></td>
			<td><%= user[i].ename %></td>
			<td><%= user[i].cname %></td>
			<td><%= user[i].contactno %></td>
			<td><%= user[i].username %></td>
			<td><%= user[i].password %></td>
			<td>
				<a href="/user/edit/<%= user[i].id %>"> EDIT </a> | 
				<a href="/user/delete/<%= user[i].id %>"> DELETE </a> | 
				<a href="/user/details/<%= user[i].id %>"> Details </a>
			</td>
		</tr>

	<% } %>
	</table>
</body>
</html>