<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
    .top-nav-bar{
        height: 58px;
        top: 0;
        position: sticky;
        background: #fff;
        margin-bottom: 20px;
        border-bottom: 3px  solid rgb(43, 199, 90);
        z-index: 2;
    }
    .logo{
        height: 45px;
        float: left;
        padding-left: 80px;
        
    }
    .form-control{
        margin-top: 9px;
        margin-left: 140px;
        border: 1px solid rgb(43, 199, 90) !important;
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        box-shadow: none !important;
    }
    .input-group-text{
        background: rgb(43, 199, 90) !important;
        border:  1px solid rgb(43, 199, 90);
        margin: 8.5px 8px 0px 0;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        cursor: pointer;
    }
    .search-box{
        display: inline-flex;
        width: 68%;
        float: left;
    }
    .fa-search{
        color: white;
    }
    .menu-bar{
        width: 30%;
        height: 20px;
        float: right;
    }
    .menu-bar ul{
        display: inline-flex;
        float: right;
    }
    .menu-bar ul li{
        border-left: 1px solid #fff;
        list-style-type: none;
        padding: 15px 25px;
        text-align: center;
        background-color: rgb(43, 199, 90);
        cursor: pointer;
    }
    .menu-bar ul li a{
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }     
        </style>
    </head>  
    <body>
         <div class="top-nav-bar">
            <form method="post">
                <div class="search-box">
                    <img src="logo.jpg" alt="" class="logo">
                    <input type="text" name="search" placeholder="Search..." class="form-control">
                    <span class="input-group-text"><input type="submit"value=" " class="fa fa-search"></span>
                </div>
                <div class="menu-bar">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/login"><%= user.name %></a></li>
                    </ul>
                </div>
            </form>
        </div>
    	<div class="container">
    		<div class="row">
    			<% for(var i=0; i< book.length; i++){ %>
				<div class="col-md-3">
        			<div style="border:3px solid #478b47; background-color:whitesmoke; margin:10px; border-radius:5px; padding:10px;" align="center">
                       <img src="/<%= book[i].filename %>" class='img-responsive' width='100%' height=300%></br>
                        Name: <h7 class="text-danger"> <%= book[i].bname %></h7></br>
						Author Name: <h7 class="text-danger"><%= book[i].aname %></h7></br>
                        Price:  <h7 class="text-danger"><%= book[i].price %></h7></br>
                        <a href="/home/buy/<%= book[i].id %>">Buy</a>
        			</div>
        		</div>
			<% } %>
        
        </div>
    </div>

    </body>
</html>
